.mainpage {
	background-color: #FAFAFA;
	height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 120px; 
	margin-right: 250px;
	margin-left: 250px;
}

.mainpage .Title{
	width: 364px;
	font-family: SFProDisplay-Regular,Helvetica, Arial;
	color: #000000;
	font-weight: lighter;
}

body {
	background-color: #FAFAFA;

}

.register_form {
	display: flex;
	height: 450px;
	width: 350px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 2px;

}

input {
	margin: 5px;
	width: 258px;
	height: 36px;
	border-radius: 3px;
	border-color: #FAFAFA;
	font-family: Arial;
}

button {
	color: #ffffff;
	background-color: #1877F2;
	border-color: #1877F2;
	width: 258px;
	height: 36px;
	border-radius: 3px;
	margin-top: 10px;
	font-family: Arial;
	font-weight: bold
}


.sing_up {
	margin-top: 35px;
	font-family: Arial;
}

.register_form a{
	margin-top: 10px;
	text-decoration-line: none;
	color: #1877F2;
	font-family: Arial;
}

.register_form .Facebook_link {
	color: #3851A0;
	font-weight: bold;
}

.register_form .forget_link {
	font-size: 12px;
}

.register_form img {
	margin-top: 15px; 
	width: 258px;
}

.mini_footer {
	text-decoration: none;
	color: #3851A0;
}

.create_acc{
	color: #ffffff;
	background-color: #42B72A;
	border-radius: 5px;
	border-color: #42B72A;
	width: 182px;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: Arial;
	font-weight: bold

}

footer {
	background-color: #fafafa;
	display: flex;
	margin-top: 250px;
	align-items: center;
	font-family: Arial;
	color: grey;
	flex-direction: column;
}

h5 {
	margin: -20px;
}